@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: rgb(12, 12, 12);
    color: lightgray;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.header,
.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: rgb(29, 29, 29);
    text-align: center;
}

.header {
    margin-bottom: 70px;
}

.footer {
    margin-top: 50px;
    flex-direction: column;
}

.todo {
    border: 1px rgb(175, 175, 175) solid;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 370px;
}

.form {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: rgb(37, 37, 37);
    border-radius: 15px 15px 0 0;
}

.input {
    border: none;
    outline: none;
    font-size: large;
    border-radius: 7px 0px 0px 7px;
    padding: 5px 10px;
    background-color: rgb(66, 66, 66);
    color: white;
}
.input:hover {
    outline: none;
}

.btn {
    border: none;
    background-color: rgb(85, 171, 85);
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover {
    background-color: rgb(30, 118, 30);
    color: lightgrey;
}

.form .btn {
    height: 31px;
    width: 50px;
    border-radius: 0 7px 7px 0;
}
.wrapper {
    display: flex;
    align-items: center;
    margin: 15px 0;
}

.todoList {
    width: 100%;
    padding: 20px 15px;
    border-top: 1px solid lightgrey;
}

.wrapper.todos {
    justify-content: space-between;
}

.wrapper h4 {
    margin-left: 10px;
    width: 280px;
}

.todos {
    padding: 10px;
    background-color: rgb(37, 37, 37);
    border-radius: 15px 15px 15px 0;
}

.checked {
    color: green;
    text-decoration: line-through;
}

.radio {
    position: absolute;
    cursor: pointer;
    opacity: 0;
}

.fakeRadio {
    height: 15px;
    width: 15px;
    border-radius: 40%;
    background-color: #cdcdcd;
}

.radio:checked ~ .fakeRadio {
    background-color: green;
    border: 2px rgb(157, 157, 157) solid;
}
